body {
    padding-left: 11em;
    font-family: Helvetica; font-size: 25px; font-style: normal; ;
    color: rgb(0, 0, 0);
    background-image: url(/content/images/Image.jpg); 
    background-size : cover;
    background-repeat : no-repeat; 
}

h1 { 
    position : relative;
    top : 5px;
    left : 10px;
    word-spacing : 5px;
    text-shadow: 2px 2px #ff0000;
}

nav {
    margin: 0;
    margin-left: -90px;
    font-weight: bold;
    padding: 0;
    width: 160px;
    letter-spacing: 1px;
}
